<div class="container mt-5 " style="width: 500px; " >
  <div class="alert alert-danger" *ngIf="alertvar" >
    <strong>Please check you email or password</strong> 
  </div>
    <div class="card">
        <div class="card-header" style="text-align: center;">Authentification</div>
        <div class="card-body"><form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" name="email" [(ngModel)]="log.email">
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="pswd" [(ngModel)]="log.pswd">
            </div>
           
            
            <button type="submit" class="btn btn-primary marginbtn" (click)="LogIn()">Login</button>
            <button type="submit" class="btn btn-success" routerLink="/register">Register</button>
          </form>
        </div>
        
      </div>
</div>



