/* You can add global styles to this file, and also import other style files */
.marginbtn{
    margin-right: 3px;
}
.widthbtn{
    width: 170px;
}
.marginContainer{
    margin-top: 20px;
}
.marginright{
    margin-right: 5px;
}