<div class="container mt-5 " style="width: 500px;" >
    <div class="card">
        <div class="card-header" style="text-align: center;">Add_User</div>
        <div class="card-body"><form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" name="email"  placeholder="Enter email" [(ngModel)]="userData.email" >
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control"  name="pswd" placeholder="Password" [(ngModel)]="userData.pswd">
            </div>
            <label for="exampleInputPassword1" >Role</label>
            <select class="form-select" [(ngModel)]="userData.role" name="role">

              <option>ADMIN</option>
              <option>USER</option>
             
            </select>
            <button [disabled]="!userData.email||!userData.pswd!||!userData.role" type="submit" class="btn btn-primary marginbtn" (click)="save()">Save</button>
            <button type="submit" class="btn btn-success" routerLink="">Login</button>
          </form>
        </div>
        
      </div>
</div>



